

.header_buttom{

width: 100%;
height: 1px;
margin-left: 0px;
margin-top: 16px;

background: linear-gradient(89.98deg, #256EFF 0.02%, #F84F60 102.46%);

}

.header_logo{
    display: grid;
    grid-template-columns: 1fr 1fr 10fr 1fr;
    align-items: center;
    
    

}

.header_logo>div>h5,.header_login>h2{  
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    color: #256EFF;
}

.header_login{
    text-decoration: none;
    font-size: medium;
} 

.header_login>h2{
    color:#F84F60 ;
}
.AccountCircleIcon{
    color:#256EFF
}
.header_logo>.login_img>img{
    height: 41.02069091796875px;
    width: 39px;
    
    border-radius: 0px;
}
.header_logo>.login_img{
margin-left: 40px;
    margin-top: 16px;
}


.home_container{
    display: flex;
    justify-content: center;
}

.alerts_container{
    position: absolute;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 122px;
    margin-top: 122px;
}

.alerts{
    margin: 0%;
    width: 70%;
    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap:1em ;
}
.alerts_header{
    color: white;
    display: grid;
    justify-items: center;
    align-items: flex-start;
    grid-template-columns: repeat(6,1fr);
}
.alerts_separation{
    min-height: 1px;
    background-color: rgba(37, 110, 255, 0.4);
    border-radius: 10px;
}
.alerts_search{
    background: #1F2231;
    border-radius: 10px;
    height: 33px;
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
/* identical to box height */
color: rgba(255, 255, 255, 0.3);
}

.alerts_search>img{
    margin-left: 10px;
}

.exchange_subtitle{
    font-size: 10px;  
}
/*
table{
    margin: 0;
    width: 60%;
    
}
table th, table td{
    text-align: center;
    color:white;
    }
tbody tr:nth-child(odd) {
    background: #1F2231;
    border-radius: 10px;
 }
.alert_c{
    margin-top: 1em;
    background-color: lightcoral;
} 
*/

.btn_cancelE,.btn_cancelO,.btn_add_alert{
    width: 89px;
    height: 24px;
    border: none;
    border-radius: 10px;
    color: white; 
}
.btn_add_alert{
    color: green;
    background: #1F2231; 
}
.btn_cancelE{
    background: #1F2231;
}
.btn_cancelO{
    background-color: black;
}
.alertE,.alertO{
    overflow: hidden;
    height: 55px;
    border-radius: 10px;
    width: 100%;
    margin: 0;
    color:white;
    display: grid;
    grid-template-columns:  repeat(6,1fr);
    
}
.alertE>div,.alertO>div{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: inherit;
}
.alertE>div>small,div,.alertO>div>small,div{
    background-color: inherit;
}


.alertE>div>img,.alertO>div>img{
    width: 20px;
    height: 20px;
    background-color: inherit;
}

.alertO{
    overflow: hidden;
    background-color: #1F2231;
}
/*
.alertE{
    overflow: hidden;
    background-color: rgb(109, 27, 27);
}
*/
.alert_exchange{
    display:flex;
    flex-direction:column;
    margin-top:15px; 
    text-align:center;
}
.alert_exchange>small{
    font-weight:lighter;
    margin-top:-4px;
}

/*
.add_alert_container{
    position: absolute;
    background-color:blueviolet;
    z-index: 1;
    min-height: 500px;
    margin: 0;
    width: 50%;
    border-radius: ;
}
*/
.add_alert_container{
    overflow: hidden;
    position: absolute;
    width: 708px;
    height: 573px;
    left: 286px;
    top: 73px;
    outline: none;
    border: 1px solid ;
    border-image-width: 1px;
    border-image: linear-gradient(236.77deg, #256EFF 0%, #F84F60 104.88%);
    ;
    
    background: #1F2231;
    /*border-radius: 10px;*/
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 74px;
}

form{
    overflow: hidden;
    background-color: inherit;
    display: grid;
    grid-template-rows: repeat(1fr);
    gap: 2em;
    padding: 35px;
}
.add_alert_input_row2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7px;
}
.add_alert_input_row3{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 7px; 
}

h5{
    background-color: inherit;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    color: #FFFFFF;
}

select,input,select>option{
    color: white;
}
input:hover{
    transform: scale(1.02);
    background-color:rgba(20, 152, 104, 1);
}
input,select,form>button{
    background: #161522;
    border-radius: 10px;
    width: 100%;
    height: 53px;
    border:none;
    
}

form>button{
    background-color:rgba(20, 152, 104, 1);
}
